MouseInfo==0.1.3
numpy==1.23.0
opencv-python==4.6.0.66
Pillow==9.1.1
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyobjc==8.5;platform_system=="Darwin"
pyobjc-core==8.5;platform_system=="Darwin"
pyobjc-framework-Accessibility==8.5;platform_system=="Darwin"
pyobjc-framework-Accounts==8.5;platform_system=="Darwin"
pyobjc-framework-AddressBook==8.5;platform_system=="Darwin"
pyobjc-framework-AdServices==8.5;platform_system=="Darwin"
pyobjc-framework-AdSupport==8.5;platform_system=="Darwin"
pyobjc-framework-AppleScriptKit==8.5;platform_system=="Darwin"
pyobjc-framework-AppleScriptObjC==8.5;platform_system=="Darwin"
pyobjc-framework-ApplicationServices==8.5;platform_system=="Darwin"
pyobjc-framework-AppTrackingTransparency==8.5;platform_system=="Darwin"
pyobjc-framework-AudioVideoBridging==8.5;platform_system=="Darwin"
pyobjc-framework-AuthenticationServices==8.5;platform_system=="Darwin"
pyobjc-framework-AutomaticAssessmentConfiguration==8.5;platform_system=="Darwin"
pyobjc-framework-Automator==8.5;platform_system=="Darwin"
pyobjc-framework-AVFoundation==8.5;platform_system=="Darwin"
pyobjc-framework-AVKit==8.5;platform_system=="Darwin"
pyobjc-framework-BusinessChat==8.5;platform_system=="Darwin"
pyobjc-framework-CalendarStore==8.5;platform_system=="Darwin"
pyobjc-framework-CallKit==8.5;platform_system=="Darwin"
pyobjc-framework-CFNetwork==8.5;platform_system=="Darwin"
pyobjc-framework-ClassKit==8.5;platform_system=="Darwin"
pyobjc-framework-CloudKit==8.5;platform_system=="Darwin"
pyobjc-framework-Cocoa==8.5;platform_system=="Darwin"
pyobjc-framework-Collaboration==8.5;platform_system=="Darwin"
pyobjc-framework-ColorSync==8.5;platform_system=="Darwin"
pyobjc-framework-Contacts==8.5;platform_system=="Darwin"
pyobjc-framework-ContactsUI==8.5;platform_system=="Darwin"
pyobjc-framework-CoreAudio==8.5;platform_system=="Darwin"
pyobjc-framework-CoreAudioKit==8.5;platform_system=="Darwin"
pyobjc-framework-CoreBluetooth==8.5;platform_system=="Darwin"
pyobjc-framework-CoreData==8.5;platform_system=="Darwin"
pyobjc-framework-CoreHaptics==8.5;platform_system=="Darwin"
pyobjc-framework-CoreLocation==8.5;platform_system=="Darwin"
pyobjc-framework-CoreMedia==8.5;platform_system=="Darwin"
pyobjc-framework-CoreMediaIO==8.5;platform_system=="Darwin"
pyobjc-framework-CoreMIDI==8.5;platform_system=="Darwin"
pyobjc-framework-CoreML==8.5;platform_system=="Darwin"
pyobjc-framework-CoreMotion==8.5;platform_system=="Darwin"
pyobjc-framework-CoreServices==8.5;platform_system=="Darwin"
pyobjc-framework-CoreSpotlight==8.5;platform_system=="Darwin"
pyobjc-framework-CoreText==8.5;platform_system=="Darwin"
pyobjc-framework-CoreWLAN==8.5;platform_system=="Darwin"
pyobjc-framework-CryptoTokenKit==8.5;platform_system=="Darwin"
pyobjc-framework-DataDetection==8.5;platform_system=="Darwin"
pyobjc-framework-DeviceCheck==8.5;platform_system=="Darwin"
pyobjc-framework-DictionaryServices==8.5;platform_system=="Darwin"
pyobjc-framework-DiscRecording==8.5;platform_system=="Darwin"
pyobjc-framework-DiscRecordingUI==8.5;platform_system=="Darwin"
pyobjc-framework-DiskArbitration==8.5;platform_system=="Darwin"
pyobjc-framework-DVDPlayback==8.5;platform_system=="Darwin"
pyobjc-framework-EventKit==8.5;platform_system=="Darwin"
pyobjc-framework-ExceptionHandling==8.5;platform_system=="Darwin"
pyobjc-framework-ExecutionPolicy==8.5;platform_system=="Darwin"
pyobjc-framework-ExternalAccessory==8.5;platform_system=="Darwin"
pyobjc-framework-FileProvider==8.5;platform_system=="Darwin"
pyobjc-framework-FileProviderUI==8.5;platform_system=="Darwin"
pyobjc-framework-FinderSync==8.5;platform_system=="Darwin"
pyobjc-framework-FSEvents==8.5;platform_system=="Darwin"
pyobjc-framework-GameCenter==8.5;platform_system=="Darwin"
pyobjc-framework-GameController==8.5;platform_system=="Darwin"
pyobjc-framework-GameKit==8.5;platform_system=="Darwin"
pyobjc-framework-GameplayKit==8.5;platform_system=="Darwin"
pyobjc-framework-ImageCaptureCore==8.5;platform_system=="Darwin"
pyobjc-framework-IMServicePlugIn==8.5;platform_system=="Darwin"
pyobjc-framework-InputMethodKit==8.5;platform_system=="Darwin"
pyobjc-framework-InstallerPlugins==8.5;platform_system=="Darwin"
pyobjc-framework-InstantMessage==8.5;platform_system=="Darwin"
pyobjc-framework-Intents==8.5;platform_system=="Darwin"
pyobjc-framework-IntentsUI==8.5;platform_system=="Darwin"
pyobjc-framework-IOSurface==8.5;platform_system=="Darwin"
pyobjc-framework-iTunesLibrary==8.5;platform_system=="Darwin"
pyobjc-framework-KernelManagement==8.5;platform_system=="Darwin"
pyobjc-framework-LatentSemanticMapping==8.5;platform_system=="Darwin"
pyobjc-framework-LaunchServices==8.5;platform_system=="Darwin"
pyobjc-framework-libdispatch==8.5;platform_system=="Darwin"
pyobjc-framework-LinkPresentation==8.5;platform_system=="Darwin"
pyobjc-framework-LocalAuthentication==8.5;platform_system=="Darwin"
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5;platform_system=="Darwin"
pyobjc-framework-MailKit==8.5;platform_system=="Darwin"
pyobjc-framework-MapKit==8.5;platform_system=="Darwin"
pyobjc-framework-MediaAccessibility==8.5;platform_system=="Darwin"
pyobjc-framework-MediaLibrary==8.5;platform_system=="Darwin"
pyobjc-framework-MediaPlayer==8.5;platform_system=="Darwin"
pyobjc-framework-MediaToolbox==8.5;platform_system=="Darwin"
pyobjc-framework-Metal==8.5;platform_system=="Darwin"
pyobjc-framework-MetalKit==8.5;platform_system=="Darwin"
pyobjc-framework-MetalPerformanceShaders==8.5;platform_system=="Darwin"
pyobjc-framework-MetalPerformanceShadersGraph==8.5;platform_system=="Darwin"
pyobjc-framework-MetricKit==8.5;platform_system=="Darwin"
pyobjc-framework-MLCompute==8.5;platform_system=="Darwin"
pyobjc-framework-ModelIO==8.5;platform_system=="Darwin"
pyobjc-framework-MultipeerConnectivity==8.5;platform_system=="Darwin"
pyobjc-framework-NaturalLanguage==8.5;platform_system=="Darwin"
pyobjc-framework-NetFS==8.5;platform_system=="Darwin"
pyobjc-framework-Network==8.5;platform_system=="Darwin"
pyobjc-framework-NetworkExtension==8.5;platform_system=="Darwin"
pyobjc-framework-NotificationCenter==8.5;platform_system=="Darwin"
pyobjc-framework-OpenDirectory==8.5;platform_system=="Darwin"
pyobjc-framework-OSAKit==8.5;platform_system=="Darwin"
pyobjc-framework-OSLog==8.5;platform_system=="Darwin"
pyobjc-framework-PassKit==8.5;platform_system=="Darwin"
pyobjc-framework-PencilKit==8.5;platform_system=="Darwin"
pyobjc-framework-Photos==8.5;platform_system=="Darwin"
pyobjc-framework-PhotosUI==8.5;platform_system=="Darwin"
pyobjc-framework-PreferencePanes==8.5;platform_system=="Darwin"
pyobjc-framework-PushKit==8.5;platform_system=="Darwin"
pyobjc-framework-Quartz==8.5;platform_system=="Darwin"
pyobjc-framework-QuickLookThumbnailing==8.5;platform_system=="Darwin"
pyobjc-framework-ReplayKit==8.5;platform_system=="Darwin"
pyobjc-framework-SafariServices==8.5;platform_system=="Darwin"
pyobjc-framework-SceneKit==8.5;platform_system=="Darwin"
pyobjc-framework-ScreenCaptureKit==8.5;platform_system=="Darwin"
pyobjc-framework-ScreenSaver==8.5;platform_system=="Darwin"
pyobjc-framework-ScreenTime==8.5;platform_system=="Darwin"
pyobjc-framework-ScriptingBridge==8.5;platform_system=="Darwin"
pyobjc-framework-SearchKit==8.5;platform_system=="Darwin"
pyobjc-framework-Security==8.5;platform_system=="Darwin"
pyobjc-framework-SecurityFoundation==8.5;platform_system=="Darwin"
pyobjc-framework-SecurityInterface==8.5;platform_system=="Darwin"
pyobjc-framework-ServiceManagement==8.5;platform_system=="Darwin"
pyobjc-framework-ShazamKit==8.5;platform_system=="Darwin"
pyobjc-framework-Social==8.5;platform_system=="Darwin"
pyobjc-framework-SoundAnalysis==8.5;platform_system=="Darwin"
pyobjc-framework-Speech==8.5;platform_system=="Darwin"
pyobjc-framework-SpriteKit==8.5;platform_system=="Darwin"
pyobjc-framework-StoreKit==8.5;platform_system=="Darwin"
pyobjc-framework-SyncServices==8.5;platform_system=="Darwin"
pyobjc-framework-SystemConfiguration==8.5;platform_system=="Darwin"
pyobjc-framework-SystemExtensions==8.5;platform_system=="Darwin"
pyobjc-framework-UniformTypeIdentifiers==8.5;platform_system=="Darwin"
pyobjc-framework-UserNotifications==8.5;platform_system=="Darwin"
pyobjc-framework-UserNotificationsUI==8.5;platform_system=="Darwin"
pyobjc-framework-VideoSubscriberAccount==8.5;platform_system=="Darwin"
pyobjc-framework-VideoToolbox==8.5;platform_system=="Darwin"
pyobjc-framework-Virtualization==8.5;platform_system=="Darwin"
pyobjc-framework-Vision==8.5;platform_system=="Darwin"
pyobjc-framework-WebKit==8.5;platform_system=="Darwin"
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytweening==1.0.4
rubicon-objc==0.4.2
